SERVER_PORT=8080

DB_URL=jdbc:postgresql://aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.zzsiccgoaroouwqalaoh
DB_PASSWORD=FcDWe2p1VvZoIPVx

JWT_SECRET=o1OwK7F1YuMGHUk0Wzu06yDvoykhomKsxS32gTkMSuM=
JWT_EXPIRATION_MS=86400000

SUPABASE_URL=https://zzsiccgoaroouwqalaoh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6c2ljY2dvYXJvb3V3cWFsYW9oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTk5MTgxMSwiZXhwIjoyMDkxNTY3ODExfQ.i-pJI6-P4vtuafgDHQ74cTiEUu_aXj0jejZ2AzkGDAA

CORS_ALLOWED_ORIGINS=https://your-frontend.onrender.com
